In [1]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
data2=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
data3=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
data4=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
data5=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
data6=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')
data7=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data7.csv')
data8=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data8.csv')
data9=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data9.csv')
data10=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data10.csv')
data11=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data11.csv')
data12=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data12.csv')
data13=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data13.csv')
data14=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data14.csv')
data15=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data15.csv')
data16=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data16.csv')
data17=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data17.csv')
data18=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data18.csv')
data19=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data19.csv')
data20=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data20.csv')
data21=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data21.csv')
data22=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data22.csv')
data23=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data23.csv')
data24=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data24.csv')
data25=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data25.csv')
data26=pd.read_csv('https://api.covid19india.org/csv/latest/raw_data26.csv')

In [3]:
data1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [4]:
data1=data1.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
      
data2=data2.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data3=data3.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data4=data4.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data5=data5.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data6=data6.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data7=data7.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data8=data8.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data9=data9.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data10=data10.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data11=data11.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data12=data12.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data13=data13.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data14=data14.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data15=data15.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data16=data16.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data17=data17.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data18=data18.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data19=data19.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data20=data20.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data21=data21.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data22=data22.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data23=data23.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data24=data24.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data25=data25.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]
data26=data26.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State','Current Status']]

In [5]:
data=data1.append([data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,
                   data12,data13,data14,data15,data16,data17,data18,data19,data20,data21,
                   data22,data23,data24,data25,data26])

In [6]:
data.head()

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered

In [7]:
date=data['Date Announced'].str.split('/',expand=True)
date.columns=['Day','Month','Year']

In [8]:
data=pd.concat([data,date],axis=1)

In [9]:
data

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
8102,558.0,25/04/2021,NaN,NaN,NaN,NaN,Assam,Recovered,25,04,2021
8103,14.0,25/04/2021,NaN,NaN,NaN,NaN,Assam,Deceased,25,04,2021
8104,148.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Hospitalized,25,04,2021
8105,4.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Recovered,25,04,2021
8106,1.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Deceased,25,04,2021

In [10]:
 data.to_csv('covid19_india.csv')