In [1]:
## import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('covid19_india.csv')
data.head()

c:\users\admin\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30.0,1.0,2020.0
1,1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,2.0,2.0,2020.0
2,2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,3.0,2.0,2020.0
3,3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,2.0,3.0,2020.0
4,4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,2.0,3.0,2020.0

In [4]:
data=data.iloc[:,1:]

In [5]:
data

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30.0,1.0,2020.0
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,2.0,2.0,2020.0
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,3.0,2.0,2020.0
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,2.0,3.0,2020.0
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,2.0,3.0,2020.0
...,...,...,...,...,...,...,...,...,...,...,...
599592,558.0,25/04/2021,NaN,NaN,NaN,NaN,Assam,Recovered,25.0,4.0,2021.0
599593,14.0,25/04/2021,NaN,NaN,NaN,NaN,Assam,Deceased,25.0,4.0,2021.0
599594,148.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Hospitalized,25.0,4.0,2021.0
599595,4.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Recovered,25.0,4.0,2021.0
599596,1.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Deceased,25.0,4.0,2021.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599597 entries, 0 to 599596
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Num Cases          599578 non-null  float64
 1   Date Announced     599590 non-null  object
 2   Age Bracket        118719 non-null  object
 3   Gender             120985 non-null  object
 4   Detected City      14441 non-null   object
 5   Detected District  585592 non-null  object
 6   Detected State     599575 non-null  object
 7   Current Status     599584 non-null  object
 8   Day                599590 non-null  float64
 9   Month              599590 non-null  float64
 10  Year               599590 non-null  float64
dtypes: float64(4), object(7)
memory usage: 34.3+ MB

In [17]:
round(data.isnull().sum().sort_values(ascending=False)/len(data)*100,2)

Detected City        97.59
Age Bracket          80.20
Gender               79.82
Detected District     2.34
Detected State        0.00
Num Cases             0.00
Current Status        0.00
Date Announced        0.00
Day                   0.00
Month                 0.00
Year                  0.00
dtype: float64

In [18]:
data

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30.0,1.0,2020.0
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,2.0,2.0,2020.0
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,3.0,2.0,2020.0
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,2.0,3.0,2020.0
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,2.0,3.0,2020.0
...,...,...,...,...,...,...,...,...,...,...,...
599592,558.0,25/04/2021,NaN,NaN,NaN,NaN,Assam,Recovered,25.0,4.0,2021.0
599593,14.0,25/04/2021,NaN,NaN,NaN,NaN,Assam,Deceased,25.0,4.0,2021.0
599594,148.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Hospitalized,25.0,4.0,2021.0
599595,4.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Recovered,25.0,4.0,2021.0
599596,1.0,25/04/2021,NaN,NaN,NaN,NaN,Sikkim,Deceased,25.0,4.0,2021.0

In [22]:
## month wise cases
data[data['Current Status']=='Hospitalized' and data['Year']=='2020'].groupby('Month')['Num Cases'].sum()

KeyError: False